{% extends "blog/base.html" %}
{% block content%}
	<div>
        <div class="row">
            <div class="col-12 w3-center">
                <img src="{{ post.author.profile.image.url }}"
                alt="{{ post.author.first_name }} {{ post.author.last_name }} photo"
                width="150" height="150" class="rounded-circle">
                <h1 class="display-2">{{ post.author.first_name }} {{ post.author.last_name }}</h1>
                <p class="lead">{{ postnum }} post(s)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                
            </div>
        </div>
    </div>
{% endblock content %}